* {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

/* ==== HEADER ==================================================================== */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
}
header.sticky {
    background-color: rgba(80, 74, 74, 0.4);
    display: inline-block;
    height: 11vh;
}
header.sticky ul li a{
    color: white;
    transition: 0.6;
    text-decoration: none;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
    font-size: 15px;
    color: white;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
}
header ul li a:hover {
    background-color: #008E97;
    color: white;
}
.active {
    background-color: white;
    color: black;
}
/* ==== CSS TAMPILAN AWAL & BIODATA =================================================== */
.sampul{
    height: 100vh;
    background-color: white;
    background-size: cover;
    position: relative;
}
.sampulawal{
    height: 96vh;
    background: rgb(2, 192, 169);
    background: linear-gradient(130deg, rgba(2,192,169,1) 10%, rgba(33,137,166,1)100%);
    background-size: cover;
    display: flex;
}
.quotes img{
    width: 80vh;
}

.content{
    display: flex;
}
.content .fotobio{
    margin-top: 12%;
    margin-left: 180px;
}
.paragraf{
    width: 500px;
    height: 700px;
    font-style: normal;
    text-align: justify;
}
.nama{
    margin-top: 10%;
    margin-left: 50px;
    color: black;
}
.nama h1{
    font-size: 50px;
}
/* ===== CSS PENGALAMAN ====================================================== */
.card-text {
    text-align: justify;
}

/* ===== CSS GALERI & VIDEO ==================================================== */
.img-galeri {
    width: 65vh;
    height: 45vh;
    padding: 30px;
}
.vid-galeri {
    margin: 10px;
    padding: 20px;
}
.container{
    margin-top: 10%;
}
/* ==== CSS KONTAK ===== */
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #009688;
    background-size: cover;
}

.contact .konten {
    max-width: 800px;
    text-align: center;
}

.contact .konten h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .konten p {
    font-weight: 300;
    color: #fff;
}

.kontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.kontainer .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.kontainer .contactInfo .kotak {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.kontainer .contactInfo .kotak .simbol {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
}

.kontainer .contactInfo .kotak .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.kontainer .contactInfo .kotak .text h3 {
    font-weight: 500;
    color:  #00bcd4;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


  /* ==== CSS Team Section ===================================================================== */
  .team-section{
	background-color:#009688;
	min-height: 100vh;
	padding:70px 15px 30px;
}

.container{
	max-width: 1170px;
	margin:auto;
}

.team-row{
	display: flex;
	flex-wrap: wrap;
}

.team-section .section-title{
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 70px;
}

.team-section .section-title h1{
	font-size: 40px;
	text-align: center;
	margin:0;
	color: #ffffff;
	font-weight: 700;
}

.team-section .section-title p{
	font-size:16px;
	text-align: center;
	margin:15px 0 0;
	color:#ffffff;
}
.team-section .team-items{
	
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team-section .team-items .item{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.team-section .team-items .item img{
	display: block;
	width: 100%;
	border-radius: 8px;
}

.team-section .team-items .item .inner{
	position: relative;
	z-index: 11;
	padding:0 15px;
}
.team-section .team-items .item .inner .info{
	background-color:#009688;
	text-align: center;
	padding: 20px 15px;
	border-radius:8px;
	transition: all .5s ease;
	margin-top: -40px;
}
.team-section .team-items .item:hover  .info{
    transform: translateY(-20px);
}
.team-section .team-items .item:hover{
 transform: translateY(-10px);	
}
.team-section .team-items .item .inner .info h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color:#ffffff;
}
.team-section .team-items .item .inner .info p{
	font-size: 16px;
	font-weight: 400;
	color:#c5c5c5;
	margin:10px 0 0;
}

.team-section .team-items .item .inner .info .social-links{
	padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a{
	display: inline-block;
	height: 32px;
	width: 32px;
	background-color: #ffffff;
	color:#009688;
	border-radius: 50%;
	margin:0 2px;
	text-align: center;
	line-height: 32px;
	font-size:16px;
	transition: all .5s ease;
}

.team-section .team-items .item .inner .info .social-links a:hover{
	box-shadow: 0 0 10px #000;
}


/* ==== Footer =============================================================================== */
footer {
    height: 5vh;
}